nav {
    width: 100vw;
    background-color: #2A125D;
    height: 6.5rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.container0 {
    width: 100vw;
}

nav img {
    margin-left: -1.5rem;
}

nav h1 {
    color: white;
    font-size: 3rem;
}

.container_name {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: 1% 5%;

}

.container_name p {
    margin: 0;
    margin-top: -0.4rem;
}

.connectBtn {
    margin-left: 4rem;
    margin-top: 0.8rem;
    padding: 0.5rem 1.3rem;
    border-radius: 0.5rem;
    background-color: #03C988;
    border: none;
    color: white;
}

.inputFields {
    padding: 0.35rem 0.9rem;
    background: #FFFFFF;
    border: none;
    border-radius: 11px;
    text-align: center;
    font-weight: bold;
    box-shadow: 0px 0px 29px rgba(0, 0, 0, 0.3);
    font-size: 18px;
}

.grid2 {
    display: flex;
    margin-left: 1.2rem;
    margin-bottom: 0.7rem;
}

.chooseFiles {
    width: 86%;
    margin: 1% 7%;
    height: 22rem;
    background: #A89AFB;
    border: 3px dashed #000000;
    box-shadow: inset 0px 6px 4px 3px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

.btnsSubmitCloseGrid {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 1% 1%;
}

.closeBtn {
    margin-left: 4rem;
    margin-top: 0.8rem;
    padding: 0.5rem 1.3rem;
    border-radius: 0.5rem;
    background-color: rgb(241, 75, 75);
    color: white;
    border: none;
}



.layout {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 0;
}

.labelFiles {
    display: none;
}

.whiteBoldText {
    color: white;
    font-size: 21px;
    font-weight: 500;
}

.mg_left_bw {
    margin-left: 2rem;
}

.list {
    width: 320px;
    border: 1px solid #ddd;
    word-wrap: break-word;
    padding: 1.2rem;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.4);
    background: #96bef7;
    color: whitesmoke;
    overflow: hidden;
}

.filesTitle {
    font-size: 26px;
}

.optionTitle {
    font-weight: bold;
    margin-bottom: 2px;
}

select {
    padding: 0.25rem 0.6rem;
    border-radius: 8px;
    background-color: #A89AFB;
    color: white;
}


option {
    background-color: white;
    color: #2A125D;
    width: 10px;

}

.opt {
    padding: 2px;
}

.grid2options {
    display: flex;
    flex-wrap: wrap;
    overflow-x: scroll;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 1rem;

}

.grid2ShortCard {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.crossClose {
    width: 32px;
    height: 32px;
    background-image: url(https://res.cloudinary.com/dn07sxmaf/image/upload/v1699428309/samples/printox/ic_baseline-close_u3upsr.png);
}

hr {
    margin: 3px;
    color: #000000;
    height: 2px;
    background-color: #000000;
}

option:hover {
    background-color: aliceblue;
}

.abs_browse {
    position: absolute;
    top: 10%;
    left: 6.5rem;
}

.abs_BrowseBtn {
    position: absolute;
    background-color: #03C988;
    border-radius: 5rem;
    padding: 0.7rem 1.3rem;
    text-align: center;
    bottom: 16%;
    left: 6.9rem;
    font-size: 18px;
}

.container_Files {
    position: relative;
}

.label {
    margin: 10px 10px
}
.sendBtn{
    padding: 0.5rem 1.3rem;
    background-color: #03C988;
    color: white;
    border-radius: 0.5rem;
    border: none;
}